<!DOCTYPE html>
<html>
<head>
  <title>TITLE :D</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery' %>
  <%= stylesheet_link_tag    'bootstrap' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if session[:id] != nil %>
	<blank> Logged in as: </blank>
	<%= User.find(session[:id]).username %>
<% end %>

<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
